.vscode/
php-pdo-odbc/cubrid-pdo/
php-pdo-odbc/cubrid-php/
python-odbc/cubrid-python/
ruby-odbc/cubrid-ruby/
*.code-workspace
python-odbc/to_pyodbc/**/*.result
python-odbc/**/__pycache__/
python-odbc/pyodbc
php-pdo-odbc/*/*/*.log
php-pdo-odbc/*/*/*.out
php-pdo-odbc/*/*/*.exp
php-pdo-odbc/*/*/*.diff
php-pdo-odbc/*/*/.cubrid*.php
php-pdo-odbc/*/*/cubrid*.php
php-pdo-odbc/php-src/
